<!DOCTYPE html>
<html>
<head>
  <title>HACKLINK TECH.INC</title>
</head>
<body>
  <h2>Welcome to HACKLINK TECH.INC</h2>
  <a href="/register">Register</a> |
  <a href="/login">Login</a>
</body>
</html>
